<div class="drum-machine--header">
  <h1>
    JS-808
  </h1>
  <div class="drum-machine--config">
    <button mat-icon-button color="primary">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon>stop</mat-icon>
    </button>
    <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option 1</mat-option>
        <mat-option value="option">Option 2</mat-option>
        <mat-option value="option">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="drum-machine">
  <h3></h3>
  <h3>Kick</h3>
  <h3>Snare</h3>
  <h3>Open Hat</h3>
  <h3>Closed Hat</h3>

  <ng-container *ngFor="let bar of track; let i = index">
    <div class="drum-machine--bar-title">{{ i + 1 }}</div>
    <div>k</div>
    <div>s</div>
    <div>oh</div>
    <div>ch</div>
  </ng-container>
</div>
