.drum-machine--controls {
  display: flex;
  justify-content: flex-end;
}

.drum-machine {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  .drum-machine--beat-title {
    align-self: end;
    border: none;
    font-weight: bold;
    text-align: center;
  }

  div {
    align-items: center;
    border: black solid;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &.play {
      background: #ffe082;
    }
  }
}