<div class="drum-machine--controls">
  <i class="material-icons"
     *ngIf="!playing || paused"
     (click)="play()">
    play_arrow
  </i>
  <i class="material-icons"
     *ngIf="playing && !paused"
     (click)="pause()">
    pause
  </i>
  <i class="material-icons stop-icon"
     (click)="stop()">
    stop
  </i>
  <input type="number"
         [ngModel]="bpm"
         (ngModelChange)="bpmChanged($event)">
  <span class="bpm-label">
    BPM
  </span>
</div>

<div class="drum-machine">
  <div class="drum-machine--beat-title"></div>
  <h3>KICK</h3>
  <h3>SNARE</h3>
  <h3>OPEN HAT</h3>
  <h3>CLOSED HAT</h3>
  
  <ng-container *ngFor="let beat of track; let i = index">
    <div class="drum-machine--beat-title">{{ i + 1 }}</div>
    <div [class.play]="currentKickBeat === i"
         (click)="toggleSoundAtBeat('kick', i)">
      {{ beat.kick ? '&#9679;' : null }}
    </div>
    <div [class.play]="currentSnareBeat === i"
         (click)="toggleSoundAtBeat('snare', i)">
      {{ beat.snare ? '&#9679;' : null }}
    </div>
    <div [class.play]="currentOpenHatBeat === i"
         (click)="toggleSoundAtBeat('openHat', i)">
      {{ beat.openHat ? '&#9679;' : null }}
    </div>
    <div [class.play]="currentClosedHatBeat === i"
         (click)="toggleSoundAtBeat('closedHat', i)">
      {{ beat.closedHat ? '&#9679;' : null }}
    </div>
  </ng-container>
</div>